@model Libro

@{
    ViewData["Title"] = "Modifica libro";
}

@section Scripts {
    <script src="~/js/Libro/ControlloLibro.js"></script>
}

<section class="flex justify-center">
    <div class="auth-card">
        <h1 class="auth-title">Modifica il libro</h1>
        <form action="/Libro/Modifica" onsubmit="return controllaDati()" method="POST">
            <input type="number" name="id" id="idlibro" value="@Model.Id" hidden />
            <div class="form-group">
                <label for="titolo">Titolo</label>
                <input type="text" name="titolo" id="titolo" value="@Model.Titolo" />
            </div>
            <div class="form-group">
                <label for="autore">Autore</label>
                <input type="text" name="autore" id="autore" value="@Model.Autore" />
            </div>
            <div class="form-group">
                <label for="genere">Genere</label>
                <input type="text" name="genere" id="genere" value="@Model.Genere" />
            </div>
            <div class="form-group">
                <label for="quantita">Quantità</label>
                <input type="number" name="quantita" id="quantita" value="@Model.Quantita" />
            </div>
            <div class="form-group">
                @{
                    // Controllo per mettere precompilata l'opzione del formato.
                    string disponibileSi = Model.Formato ? "checked" : "";
                    string disponibileNo = Model.Formato ? "" : "checked";
                }
                <label>Digitale</label>
                <div class="flex gap-2">
                    <input type="radio" id="digitale_si" name="formato" value="true" @disponibileSi />
                    <label for="digitale_si">Sì</label>
                </div>
                <div class="flex gap-2">
                    <input type="radio" id="digitale_no" name="formato" value="false" @disponibileNo />
                    <label for="digitale_no">No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="nomeFile">Nome file</label>
                <input type="text" name="nomefile" id="nomefile" value="@Model.NomeFile" />
            </div>
            <div class="form-group">
                <label for="locandina">URL Copertina</label>
                <textarea name="locandina" id="locandina">@Model.Locandina</textarea>
            </div>
            <div class="form-buttons justify-end">
                <button type="submit" class="btn-primary">Modifica</button>
            </div>
        </form>
    </div>
</section>