@using Libreria.Models;

@model List<Utility.Entity>

@{
    ViewData["Title"] = "Home";
}

<section class="px-4 mb-4">
    <form action="/Home/Elenco/">
        <input type="search" name="search" id="search" placeholder="Cerca per titolo" class="search-input">
    </form>
</section>

<section class="libri-container">
    @foreach (Libro libro in Model)
    {
        <article class="libri-card">
            <div class="libri-locandina">
                @if (@libro.Locandina != "")
                {
                    <img type="img" src="@libro.Locandina" id="locandina" width="100" height="150" class="rounded">
                }
            </div>
            <div class="flex-grow flex flex-col gap-2">
                <div class="flex-grow">
                    <div class="flex items-center justify-between text-gray-600">
                        <small>@(libro.Formato ? libro.NomeFile : "Formato digitale non disponibile")</small>
                        @if (ViewBag.User?.Ruolo == "Amministratore")
                        {
                            <a title="Modifica" href="/Libro/ModificaLibri/@libro.Id" class="btn-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path
                                        d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                    <path
                                        d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                </svg>
                            </a>
                        }
                    </div>
                    <h2 class="text-2xl">@libro.Titolo</h2>
                    <div class="flex items-center gap-2 italic">
                        <p> @libro.Autore</p>
                        <p>&middot;</p>
                        <p> @libro.Genere</p>
                    </div>
                </div>
                <div class="flex items-center justify-end">
                    @if (libro.Quantita > 0)
                    {
                        <small class="mr-4 text-gray-500 font-semibold">(Disponibili: @libro.Quantita)</small>
                        // TODO: esempio href: /Libri/Prestito/4
                        <a href="#" class="btn-primary">
                            Prendi in prestito
                        </a>
                    }
                    else
                    {
                        <p class="text-lg text-orange-950 font-semibold">Non disponibile</p>
                    }
                </div>
            </div>
        </article>
    }
</section>
