@using Libreria.Models;
@model List<Utility.Entity>
@{
    ViewData["Title"] = "Home";
}
<!--
        inserire un elenco confor each con le locandine, lista libri titolo,autore,genere,quantita,
        una volta fatta la lista se la quanità >0 button "prendi in prestito" else mostra "non disponibile"
    -->
<section>
    Home Page
    <table>
       <tr>


            @foreach(var libro in Model)
            {
                var l = (Libro)libro;
                <td>
                <div class="Locandina">
                    <img type="img" src="@l.Locandina" id="locandina" width="200" height="270"></img>
                </div>

                <p> @l.Titolo</p>
                <p> @l.Autore</p>
                <p> @l.Genere</p>
                <p> @l.Quantita</p>
                

                @if (l.Quantita > 0)
                {
                    <a href="/Login/Index">
                        <button onclick="PrendiInPrestito(@libro.Id)">Prendi in prestito</button>
                    </a>
                }
                else
                {
                    <span>Non disponibile</span>
                }
                </td>

            }

        </tr>
    </table>
    <a href="/Libro/ModificaLibri/1">AAAAAAAAAAAAAAAAAAAAAAAA</a>
</section>
