@using Libreria.Models;
@model List<Utility.Entity>
@{
    ViewData["Title"] = "Home";
}
<!--
        inserire un elenco confor each con le locandine, lista libri titolo,autore,genere,quantita,
        una volta fatta la lista se la quanità >0 button "prendi in prestito" else mostra "non disponibile"
    -->
<section>
    Home Page
    <table>
       <tr>


            @foreach(var libro in Model)
            {
                var l = (Libro)libro;
                <p> @l.Titolo</p>
                <p> @l.Autore</p>
                <p> @l.Genere</p>
                <p> @l.Quantita</p>

                @if (l.Quantita > 0)
                {
                    <button onclick="PrendiInPrestito(@libro.Id)">Prendi in prestito</button>
                }
                else
                {
                    <span>Non disponibile</span>
                }

            }

        </tr>
    </table>
</section>
